fieldset {
    width: 400px;
   
}
label {
    display: inline-block;
    width: 120px;
    vertical-align: top;
    margin-bottom: 10px;
}
input[type="text"], textarea, select {
    width: 250px;
    display: inline-block;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label, 
.form-group input[type="text"], 
.form-group textarea, 
.form-group select {
    margin-bottom: 5px;
}
.form-group .inline {
    display: inline-block;
    width: auto;
    margin-right: 10px;
}
.error {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}